/* Begin _fix-pegasus */
table.pegBuyBar tbody {
  margin-left: auto;
  margin-right: auto;
  display: table !important;
}

@media screen and (min-width: 768px)
{
  table.pegBuyBar tbody {
    width: 90%;
  }
}

@media screen and (min-width: 768px)
{
  table.pegBuyBar tbody {
    width: 85%;
  }
}

.pegBbItem .PartNum {
  white-space: nowrap;
}
/* End  _fix-pegasus */
