/* Begin Helpers */
.ListTitle {
  margin-bottom: 0;
  padding-bottom: 0;
}

.ListTitle > ul, .ListTitle > ol {
  margin-top: 0;
  padding-top: 0;
}



sup.fractop {
  vertical-align: text-top;
  font-size: 0.65em;
  top: 0.25em;
}

sub.fracbot {
  vertical-align: text-bottom;
  font-size: 0.65em;
  bottom: 0.25em;
}



.BlueNotice {
  color: #00f;
}

.DeepBlueNotice {
  color: #0000c0;
}

.RedNotice {
  color: #f00;
}

.DeepRedNotice {
  color: #c00000;
}

.size8Notice {
  font-size: 8px;
}

.size10Notice {
  font-size: 10px;
}

.size12Notice {
  font-size: 12px;
}



.InstaSerif {
  font-family: times, serif;
}


.InfoImage {
  width: 100%;
  text-align: center;
}




.sm-right, .md-right, .lg-right, .sm-left, .md-left, .lg-left, .xs-right, .xs-left {
  text-align: center;
}

@media screen and (max-width: 767px) {
  .xs-right {
    text-align: right;
  }
  .xs-left {
    text-align: left;
  }
}

@media screen and (min-width: 768px) {
  .sm-right {
    text-align: right;
  }

  .sm-left {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .md-right {
    text-align: right;
  }

  .md-left {
    text-align: left;
  }
}
@media screen and (min-width: 1170px) {
  .lg-right {
    text-align: right;
  }

  .lg-left {
    text-align: left;
  }
}

.sm-center-xs-left, .sm-center-xs-right, .md-center-xs-left, .md-center-xs-right, .lg-center-xs-left, .lg-center-xs-right {
  text-align: center;
}

@media screen and (max-width:767px) {
  .sm-center-xs-left  {
    text-align: left;
  }
  .sm-center-xs-right  {
    text-align: right;
  }
}

@media screen and (max-width:991px) {
  .md-center-xs-left  {
    text-align: left;
  }
  .md-center-xs-right  {
    text-align: right;
  }
}

@media screen and (max-width:1169px) {
  .lg-center-xs-left  {
    text-align: left;
  }
  .lg-center-xs-right  {
    text-align: right;
  }
}




/* End Helpers */
