@mixin grooming-border-radius ($radius)
{
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  -o-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box;
}


@mixin grooming-box-shadows($x, $y, $spread, $color)
{
  -webkit-box-shadow: $x $y $spread 0px $color;
  -moz-box-shadow: $x $y $spread 0px $color;
  -ms-box-shadow: $x $y $spread 0px $color;
  -o-box-shadow: $x $y $spread 0px $color;
  box-shadow: $x $y $spread 0px $color;
}


@mixin grooming-text-shadows($x, $y, $blur, $color)
{
  text-shadow: $x $y $blur $color;
}

@mixin grooming-text-outline ($width, $color)
{
  text-shadow: $width $width 0px $color,
  $width -$width 0px $color,
  -$width $width 0px $color,
  -$width -$width 0px $color;
}

@mixin grooming-text-outline-plus-shadow ($width, $color, $sx, $sy, $sblur, $scolor)
{
  text-shadow:
  $sx $sy $sblur $scolor,
  $width $width 0px $color,
  $width (0-$width) 0px $color,
  (0-$width) $width 0px $color,
  (0-$width) (0-$width) 0px $color;
}

@mixin background-size-for-all ($instruction)
{
  -webkit-background-size: $instruction;
  -moz-background-size: $instruction;
  -o-background-size: $instruction;
  background-size: $instruction;
}


@mixin safe-transition ($instructions) {
  -webkit-transition: $instructions;
  transition: $instructions;
}

@mixin safe-transition-twice ($instruction1, $instruction2) {
  -webkit-transition: $instruction1, $instruction2;
  transition: $instruction1, $instruction2;
}


@mixin down-gradient ($color1, $color2) {
  background: rgba(173,173,173,1);
  background: -moz-linear-gradient(top, $color1 0%, $color2 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, $color1), color-stop(100%, $color2));
  background: -webkit-linear-gradient(top, $color1 0%, $color2 100%);
  background: -o-linear-gradient(top, $color1 0%, $color2 100%);
  background: -ms-linear-gradient(top, $color1 0%, $color2 100%);
  background: linear-gradient(to bottom, $color1 0%, $color2 100%);
}
