/* Correct PegSpot adding a blank space to the bottoms of pages */
#PegSpot {
  display: flex;
  height: 0;
  margin: 0;
  padding: 0;
}
/* End Correct PegSpot adding a blank space to the bottoms of pages */
