/* Begin Responsive Tables */
/* Breakpoints are set at every 40 pixels between 320 and 720 pixels wide. */

@media screen and (max-width: 720px)
{
  div.table720 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 680px)
{
  div.table680 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 640px)
{
  div.table640 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 600px)
{
  div.table600 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 560px)
{
  div.table560 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 520px)
{
  div.table520 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 480px)
{
  div.table480 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 440px)
{
  div.table440 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 400px)
{
  div.table400 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 360px)
{
  div.table360 {
    max-width: 100%;
    overflow-x: auto;
  }
}

@media screen and (max-width: 320px)
{
  div.table320 {
    max-width: 100%;
    overflow-x: auto;
  }
}

/*End Responsive Tables. */
