/* Begin code grooming-site-lightbox */
div#PegBootLightBox {
  background-color: #fff;
  background-color: rgba(64, 68, 64, 0.875);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  display: none;
  z-index: 1001;
  background-size: contain;
}

h2#PegBootLightBoxHeadline {
  color: #fff;
  width: 100%;
  text-align: center;
  border: 0;
  margin: 0 0 0.25em 0;
  padding: 3px 40px;
  display: block;
  background-color: #909890;
  background-color: rgba(0, 16, 0, 0.375);
  border-bottom: 2px solid #606060;
  font-size: 32px;
  @include grooming-text-outline-plus-shadow(1px, #000, 0px, 0px, 3px, #080);
  z-index: 1002;
}

span#PegBootLightBoxCloseIcon {
  position: fixed;
  top: 5px;
  right: 5px;
  font-size: 32px;
  color: #eee;
  @include grooming-text-outline-plus-shadow(1px, #000, 0px, 0px, 3px, #800);
  cursor: pointer;
  z-index: 1003;
}

@media screen and (max-width: 767px) {
  h2#PegBootLightBoxHeadline, span#PegBootLightBoxCloseIcon {
    font-size: 18px;
  }
}
/* end code grooming-site-lightbox */
